<body>
  <mat-toolbar class="toolbar">
    <span><p>รายการสั่งซื้อ</p></span>
    <span style="flex: 1;"></span>
    <span>ราคารวม {{this.price}} บาท</span>
  </mat-toolbar>
  <mat-grid-list cols="5" rowHeight="300px">
    <mat-grid-tile *ngFor="let dd of this.data" value="data">
        <div class="container">
          <div class="img">
            <img src="{{dd.pic}}" width="200px" height="100px" class="img">
            <div class="label" >
              <span>{{dd.name}}</span><br>
              <span>จำนวน {{dd.amount}} ชิ้น</span><br>
              <span>ราคา {{dd.amount * dd.price}} บาท</span>
            </div>
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>
