<body>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let food of this.foods; let i=index">
      <div class="container">
        <img src="{{food.pic}}" class="food-image">
        <div class="label">
          <span class="food-name">{{food.name}}</span><br>
          <span class="food-price">{{food.price}} บาท</span>
        </div>
        <div class="input-container">
          <input type="text" #count placeholder="จำนวน" class="input-field">
          <button mat-button mat-dialog-close class="btn" *ngFor="let login of logins"
            (click)="addbas(login.uid, food.fid, count.value, food.price, food.pic, food.name)">ADD</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>
