body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #3e7044;
  font-family: 'Prompt', sans-serif;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
}

.confirm-btn {
  background-color: #50c878;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: #3ca764;
}

.cancel-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #ff4d2e;
}
