.container {
  width: 290px;
  height: 290px;
  position: relative;
  border: 3px solid green;
  font-family: 'Prompt', sans-serif;
}

.img {
  margin-left: 16.67%;
}

.label {
  margin-left: 16.67%;
}


.btn1{
  width: 25%;
  margin-left: 10%;
  font-size: 16px;
  margin-top: 10px;
  color: ghostwhite;
  background-color: rgb(146, 153, 6);
}

.btn2{
  width: 25%;
  margin-left: 10%;
  font-size: 16px;
  margin-top: 10px;
  color: ghostwhite;
  background-color: rgb(162, 0, 0);
}
